* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-wrap: wrap;
}

header > nav {
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  flex-wrap: wrap;
  text-shadow: 2px 2px 2px rgba(5, 132, 222, 0.338);
}

header > div {
  margin: 20px;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
}

.button1 {
  background-color: black;
  color: white;
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  border: none;
  cursor: pointer;
  flex-wrap: wrap;
}

.Registro {
  font-size: 3rem;
  font-weight: bolder;
  margin: auto;
  width: 900px;
  height: 700px;
  padding: 0;
  position: relative;
  flex-wrap: wrap;
  border-radius: 8px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 55%,
    rgb(201, 5, 5) 100%
  );
}

.head_menu1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 450px;
  padding: 20px;
  margin: 0 auto;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  flex-wrap: wrap;
}

.logoN {
  position: absolute;
  top: 0px;
  left: 20px;
  width: 150px;
  flex-wrap: wrap;
}

.main {
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
  text-align: left;
  flex-wrap: wrap;
}
.main2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: #b3b3b3;
  text-align: left;
}

.regist {
  width: 100%;
  padding: 18px;
  background-color: rgba(22, 22, 22, 0.7);
  border: 1px solid #8c8c8c;
  border-radius: 4px;
  color: white;
  margin-bottom: 15px;
  font-size: 1.6rem;
  flex-wrap: wrap;
}

.buttonC {
  width: 100%;
  padding: 15px;
  background-color: #e50914; /* Rojo Netflix */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}

.ayuda summary {
  list-style: none;
  cursor: pointer;
  outline: none;
}

.flecha::after {
  content: " ⌵";
  margin-left: 8px;
  font-size: 15x;
}

.opciones_ayuda {
  display: flex;
  flex-direction: column;
  background-color: rgba(40, 40, 40, 0.8);
  border-radius: 4px;
  margin-top: 10px;
  width: 100%;
}

.sub_button {
  background: none;
  border: none;
  color: #fff;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  font-size: 1rem;
  border-bottom: 1px solid #333;
}

.sub_button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.main3 {
  font-size: 1.5rem;
  color: #b3b3b3;
  margin-top: 30px;
  font-weight: normal;
}

.main4 {
  font-size: 1.3rem;
  color: #737373;
  margin-top: 40px;
  text-align: left;
}

.int1 {
  margin: 10px;
  text-align: justify;
  font-weight: normal;
}

.menu1 {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  color: white;
  gap: 8px;
}

.list_menu {
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 15px;
  padding: 10px;
  gap: 8px;
  text-decoration: none;
  display: inline-block;
  justify-content: space-between;
  border: 3px solid rgba(5, 132, 222, 0.338);
  background-color: black;
  border-radius: 7px;
}

.menu_link1 {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 2px rgba(5, 132, 222, 0.338);
}

.head_imags1 {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.head_img {
  width: 300px;
  height: 200px;
  border-radius: 10px 2px;
  flex-wrap: wrap;
}

main {
  margin: 20px;
  padding: 10px;
  gap: 15px;
  justify-content: space-between;
}

.temas {
  margin: auto;
  padding: 8px;
  margin-bottom: 10px;
  gap: 15px;
  border: 3px solid rgba(5, 132, 222, 0.338);
  border-radius: 7px;
  color: white;
  text-align: justify;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: black;
}

.img_temas {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.logo {
  color: white;
  padding: 10px;
  width: 100px;
  height: 100px;
  padding: 0%;
  display: inline-block;
}

.menu_list {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 2rem;
  text-decoration: none;
}

.menu_link {
  font-weight: bold;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

.img8 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.html {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

footer {
  color: white;
  padding: 20px;
  background-color: black;
  margin-top: auto;
  text-align: center;
  list-style: none;
  font-size: 1.5rem;
}

.derechos {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

@media (max-width: 992px) {
  .menu_link {
    font-size: 2rem;
  }

  .logo {
    width: 90px;
    height: 90px;
  }

  .menu_list {
    font-size: 2rem;
  }

  .head_imags1 {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 10px;
  }

  .head_img {
    width: 300px;
    height: 200px;
    border-radius: 10px 2px;
  }

  .p {
    font-size: 1.5rem;
  }

  .list_menu {
    font-size: 1.5rem;
    margin: 10px;
    padding: 10px;
    gap: 10px;
  }

  .temas {
    font-size: 1.5rem;
  }

  .footer {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .menu_link {
    font-size: 1.5rem;
  }

  .button1 {
    background-color: black;
    color: white;
    font-size: 1.5rem;
    font-family: "Times New Roman", Times, serif;
    border: none;
    cursor: pointer;
    flex-wrap: wrap;
  }

  .logo {
    width: 70px;
    height: 70px;
  }

  .menu_list {
    font-size: 1.5rem;
  }

  .head_imags1 {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 10px;
  }

  .head_img {
    width: 250px;
    height: 150px;
    border-radius: 10px 2px;
  }

  .p {
    font-size: 1rem;
  }

  .list_menu {
    font-size: 1.5rem;
    margin: 8px;
    padding: 8px;
    gap: 7px;
  }

  .temas {
    font-size: 1.5rem;
  }

  .footer {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .head_imags1 {
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 10px;
    margin-bottom: 10px;
    max-width: 100%;
  }

  .head_img {
    border-radius: 10px 2px;
  }
}

@media (max-width: 600px) {
  .menu_link {
    font-size: 1rem;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .menu_list {
    font-size: 1rem;
  }

  .head_imags1 {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 10px;
  }

  .head_img {
    width: 200px;
    height: 140px;
    border-radius: 10px 2px;
  }

  .p {
    font-size: 1rem;
  }

  .list_menu {
    font-size: 1rem;
    margin: 6px;
    padding: 6px;
    gap: 6px;
  }

  .temas {
    font-size: 1rem;
  }

  .footer {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .menu_link {
    font-size: 1rem;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .menu_list {
    font-size: 1rem;
  }

  .head_imags1 {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 10px;
  }

  .head_img {
    width: 200px;
    height: 140px;
    border-radius: 10px 2px;
  }

  .p {
    font-size: 1rem;
  }

  .list_menu {
    font-size: 1rem;
    margin: 6px;
    padding: 6px;
    gap: 6px;
  }

  .temas {
    font-size: 1rem;
  }

  .footer {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .menu_link {
    font-size: 1rem;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .menu_list {
    font-size: 1rem;
  }

  .head_imags1 {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 10px;
  }

  .head_img {
    width: 200px;
    height: 140px;
    border-radius: 10px 2px;
  }

  .p {
    font-size: 1rem;
  }

  .list_menu {
    font-size: 1rem;
    margin: 6px;
    padding: 6px;
    gap: 6px;
  }

  .temas {
    font-size: 1rem;
  }

  .footer {
    font-size: 1rem;
  }
}
