:root {
  --primary-color: #010411;
  --secondary-color: #dcdddf;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header > nav {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  border: 2px solid white;
}

body {
  background-color: #121836;
  display: grid;
  color: white;
  min-height: 100vh;
  flex-wrap: wrap;
}

.head_menu {
  margin: 10px;
  padding: 10px 5%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 100px;
}

.logo_img {
  width: 180px;
  height: 90px;
  object-fit: cover;
}

.menu_list {
  display: flex;
  gap: 30px;
  font-size: 2.5rem;
  list-style: none;
  align-items: center;
}

.menu_link {
  display: flex;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.estudios {
  background-color: #0e1226;
  padding: 60px 10%;
  color: white;
}

.item_estudio {
  position: relative;
  margin-bottom: 45px;
  padding-left: 10px;
}

.subtitulo_estudios{ color: rgb(195, 54, 54);
    font-size: 1.5rem;
}
.titulo_estudios{ font-size: 36px; margin-bottom: 50px;
    font-size: 3rem; 
}

.linea_tiempo {
  border-left: 2px solid rgb(195, 54, 54); 
  padding-left: 30px;
  margin-left: 20px;
}

.item_estudio {
  position: relative;
  margin-bottom: 45px;
  padding-left: 10px;
  font-size: 1.3rem;
}

.item_estudio::before {
  content: "";
  position: absolute;
  left: -41px; 
  top: 5px;
  width: 16px;
  height: 16px;
  background-color: rgb(195, 54, 54);
  border: 2px solid rgb(195, 54, 54); 
  border-radius: 50%;
  z-index: 2;
}

.institucion1{
  display: block;
  color: rgb(45, 91, 240);
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 1.7rem;
  -webkit-text-stroke: .3px white;
}

.institucion2{
  display: block;
  color: rgb(3, 27, 111);
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 1.7rem;
  -webkit-text-stroke: .3px white;
}

.institucion3{
  display: block;
  color: rgb(238, 160, 34);
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 1.7rem;
   -webkit-text-stroke: .3px rgb(3, 18, 157);
}

.item_estudio h3 {
  font-size: 2rem;
  margin: 0;
}

.item_estudio p {
  color: #a9a7a7;
  font-size: 1.5rem;
  line-height: 1.5;
}

footer{
  display: flex;
  padding: 7px;
  border: 2px solid white;
  margin: 10px;
  font-size: 1.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  
  body {
    overflow-x: hidden; 
  
section, .información, .about_section, .perfil_profesional {
    padding: 50px 5%; 
    display: flex;
    flex-wrap: wrap;
  }

 
  .head_menu {
    flex-direction: column;
    gap: 15px;
  }
  
  .menu_list {
    flex-wrap: wrap; 
    justify-content: center;
    padding: 0;
  }

  
  .información{
    flex-direction: column-reverse; 
    text-align: center;
    padding-top: 30px;
  }

  .información .texto_info{
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .nombre {
    font-size: 2.5rem; 
  }

  .foto_perfil .foto {
    width: 280px; 
    margin-bottom: 30px;
  }


  .about_section {
    flex-direction: column;
  }

  .info_me {
    grid-template-columns: 1fr; 
  }

  
  .info_container{
    flex-direction: column;
    gap: 40px;
  }

  
  .titulo_seccion {
    font-size: 28px;
  }
  
  .linea_tiempo {
    margin-left: 10px; 
  }
}

@media (max-width: 393px) {
  
  body {
    overflow-x: hidden; 
  
section, .información, .about_section, .perfil_profesional {
    padding: 50px 5%; 
    display: flex;
    flex-wrap: wrap;
  }

 
  .head_menu {
    flex-direction: column;
    gap: 15px;
  }
  
  .menu_list {
    flex-wrap: wrap; 
    justify-content: center;
    padding: 0;
  }

  
  .información{
    flex-direction: column-reverse; 
    text-align: center;
    padding-top: 30px;
  }

  .información .texto_info{
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .nombre {
    font-size: 2.5rem; 
  }

  .foto_perfil .foto {
    width: 280px; 
    margin-bottom: 30px;
  }


  .about_section {
    flex-direction: column;
  }

  .info_me {
    grid-template-columns: 1fr; 
  }

  
  .info_container{
    flex-direction: column;
    gap: 40px;
  }

  
  .titulo_seccion {
    font-size: 28px;
  }
  
  .linea_tiempo {
    margin-left: 10px; 
  }
}

@media (max-width: 480px) {
  
  body {
    overflow-x: hidden; 
  
section, .información, .about_section, .perfil_profesional {
    padding: 50px 5%; 
    display: flex;
    flex-wrap: wrap;
  }

 
  .head_menu {
    flex-direction: column;
    gap: 15px;
  }
  
  .menu_list {
    flex-wrap: wrap; 
    justify-content: center;
    padding: 0;
  }

  
  .información{
    flex-direction: column-reverse; 
    text-align: center;
    padding-top: 30px;
  }

  .información .texto_info{
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .nombre {
    font-size: 2.5rem; 
  }

  .foto_perfil .foto {
    width: 280px; 
    margin-bottom: 30px;
  }


  .about_section {
    flex-direction: column;
  }

  .info_me {
    grid-template-columns: 1fr; 
  }

  
  .info_container{
    flex-direction: column;
    gap: 40px;
  }

  
  .titulo_seccion {
    font-size: 28px;
  }
  
  .linea_tiempo {
    margin-left: 10px; 
  }
}