:root {
    --primary-color: #010411;
    --secondary-color: #dcdddf;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
}

header > nav{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 7px;
}

.head_menu{
    margin: 20px;
    padding: 10px;
}

.logo{
    display: flex;
    justify-content: center;

}

.logo_img{
    width: 120px;
    height: 70px;
    object-fit: cover;
}

.menu_list{
    display: flex;
    gap: 15px;
    font-size: 2.5rem;
    list-style: none;
    align-items: center;
    text-decoration: none;
    color: white;
}

.menu_link{
    display: flex;
    text-decoration: none;
    color: white;
    
}

} /* Esta llave cierra cualquier cosa que haya quedado abierta arriba */

.menu_link, .menu_link a {
    color: #dcdddf !important;
    text-decoration: none !important;
}
