:root {
  --primary-color: #010411;
  --secondary-color: #dcdddf;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header > nav {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  border: 2px solid white;
}

body {
  background-color: #121836;
  display: grid;
  color: white;
  min-height: 100vh;
  flex-wrap: wrap;
}

.head_menu {
  margin: 10px;
  padding: 10px 5%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 100px;
}

.logo_img {
  width: 180px;
  height: 90px;
  object-fit: cover;
}

.menu_list {
  display: flex;
  gap: 30px;
  font-size: 2.5rem;
  list-style: none;
  align-items: center;
}

.menu_link {
  display: flex;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.experiencia_laboral{
    background-color: #0e1226;
    padding: 80px 10%;
    color: white;
}

.subtitulo_laboral{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.titulo_laboral{
    font-size: 3rem;
    margin-bottom: 50px;
}

.linea_tiempo{
    border-left: 2px solid rgb(195, 54, 54);
    padding-left: 30px;
    margin-left: 20px;
}

.item_experiencia{
    position: relative;
    margin-bottom: 40px;
}

.item_experiencia::before{
    content: "";
    position: absolute;
    left: -41px;
    top: 5px;
    width: 20px;
    height: 20px;
    background-color: rgb(195, 54, 54);
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(195, 54, 54);
}

.fecha {
  color: rgb(195, 54, 54);
  font-weight: bold;
  font-size: 1.7rem;
  margin-bottom: 5px;
}

.contenido_exp h3{
    margin: 5px 0;
    font-size: 2rem;
}

.empresa{
    font-size: 1.5rem;
    display: block;
    font-style: italic;
    margin-bottom: 15px;
}

.contenido_exp p {
  color: #d1d1d1;
  line-height: 1.6;
  font-size: 1.5rem;
}

footer{
  display: flex;
  padding: 7px;
  border: 2px solid white;
  margin: 10px;
  font-size: 1.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}