:root {
  --primary-color: #010411;
  --secondary-color: #dcdddf;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header > nav {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  border: 2px solid white;
}

body {
  background-color: #121836;
  display: grid;
  color: white;
  min-height: 100vh;
  flex-wrap: wrap;
}

.head_menu {
  margin: 10px;
  padding: 10px 5%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 100px;
}

.logo_img {
  width: 180px;
  height: 90px;
  object-fit: cover;
}

.menu_list {
  display: flex;
  gap: 30px;
  font-size: 2.5rem;
  list-style: none;
  align-items: center;
}

.menu_link {
  display: flex;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.informacion {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 100px 5%;
  border: 2px solid white;
  margin: 10px;
}

.saludo {
  color: #8c8c8c;
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.nombre {
  font-size: 4rem;
  margin-bottom: 7px;
}

.profesion {
  color: #8c8c8c;
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 1.4rem;
}

.estudios {
  margin-bottom: 7px;
  font-size: 1.3rem;
}

.correo {
  color: rgb(195, 54, 54);
  margin-bottom: 7px;
  font-size: 2rem;
}

.direccion {
  color: #8c8c8c;
  font-size: 1.3rem;
}

.foto_perfil .foto {
  width: 400px;
  filter: drop-shadow(0 0 20px rgba(255, 121, 87, 0.4));
}

.about_section {
  display: flex;
  gap: 50px;
  padding: 100px 10%;
  background-color: #121528;
  justify-content: space-between;
  align-items: flex-start;
  border: 2px solid white;
  margin: 10px;
}

.info_container {
  flex: 1;
}

.about_section h4 {
  color: rgb(195, 54, 54);
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

.about_section h2 {
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
}

.info_me {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.info_me li {
  border-bottom: 1px solid #222;
  padding: 15px 2%;
  font-size: 16px;
  color: #d1d1d1;
  background-color: #232222;
}

.about_image {
  flex: 1;
  max-width: 200px;
}

.about_image img {
  width: 100%;
  border-radius: 8px;
  filter: grayscale(100%); /* Efecto blanco y negro como en la foto */
  opacity: 0.7;
}

.menu_redes_sociales {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  list-style: none;
}

.button_ri {
  background-color: transparent;
  color: #e1306c;
  border: 2px solid #e1306c;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
}

.button_ri:hover {
  background-color: #e1306c;
  color: gray;
}

.button_rf {
  background-color: transparent;
  color: #0866ff;
  border: 2px solid #0866ff;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
}

.button_rf:hover {
  background-color: #0866ff;
  color: white;
}

.button_rg {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
}

.button_rg:hover {
  background-color: rgb(73, 72, 72);
  color: rgb(72, 72, 72);
}

.link_gh {
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.link_fc {
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.link_in {
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.Card_habilidades {
  background-color: #0b0d17;
  padding: 60px 10%;
  text-align: center;
  border: 2px solid white;
  margin: 10px;
}

.habilidades {
  font-size: 32px;
  margin-bottom: 40px;
  color: white;
}

.menu_habilidades {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  list-style: none;
  padding: 0;
}

.menu_habilidades li {
  background-color: #161922;
  border: 2px solid #222;
  border-radius: 8px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.menu_habilidades li {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.menu_habilidades li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 50%; /* Aquí puedes variar el % según tu habilidad */
  background-color: #e1306c;
  box-shadow: 0 0 10px #e1306c;
}

.menu_habilidades li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6px;
  background-color: #e1306c;
  box-shadow: 0 0 10px #e1306c;
}

footer {
  display: flex;
  padding: 10px;
  border: 2px solid white;
  margin: 10px;
  font-size: 1.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
