* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-wrap: wrap;
}

.contacto {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: white;
    text-shadow: 1px 1px 1px rgba(5, 132, 222, 0.338);
    border: 2px solid white;
    background-color: black;
    border-radius: 7px;

}

.subtittle {
    color: white;
    text-align: center;
    font-size: 3rem;
}

.forms {
    display: block;
    height: 500px;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    border: 3px solid black;
    border-radius: 7px;
    align-items: center;
}

.form1 {
    display: block;
    justify-content: center;
    margin: 10px;
    gap: 20px;
    text-decoration: none;
    text-shadow: 1px 1px 1px c;
    font-size: 1.5rem;
    color: white;
    background-color: black;
    border-radius: 7px;
    height: 70px;
}


.space {
    display: block;
    justify-content: center;
    text-align: center;
    width: 90%;
    height: 80%;
    gap: 7px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: rgba(5, 132, 222, 0.338);
    background-color: black, 132, 222, 0.338);
    border-radius: 7px;
}

.space:hover {
    display: block;
    color: white;
    background-color: black, 132, 222, 0.338);
    padding: 5px;
    transition: all 0.5s ease;
}

.ofert {
    text-align: center;
    background-color: black;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    width: 90%;
    display: block;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size: 2.5rem;
    color: white;
    border-radius: 7px;
    border: 2px solid rgba(5, 132, 222, 0.338);
}

.form-control {
    text-align: center;
    background-color: black;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 30px;
    font-size: 1rem;
    background-attachment: fixed;
    background-color: black;
    border-radius: 7px;
    border: 2px solid white;

}

button {
    margin: auto;
    color: white;
    background-color: black;
    width: 100px;
    height: 20px;
    border-radius: 7px;
    transition: all 0.5s ease;
}

footer {
    color: white;
    padding: 20px;
    background-color: black;
    margin-top: auto;
    text-align: center;
    list-style: none;
    font-size: 1.5rem;
}

@media (max-width: 576px) {
    .contacto {
        font-size: 2.5rem;
    }

    .subtittle {
        color: white;
        text-align: center;
        font-size: 2rem;
    }

    .logo {
        width: 70px;
        height: 70px;
    }

    .forms {
        font-size: 1.5rem;
        margin: auto;
    }

    .form1 {
        font-size: 1rem;
        margin: auto;
    }

    .space {
        font-size: 1.5rem;
        gap: 7px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .ofert {
        font-size: 1.5rem;
        margin: auto;
    }

    .footer {
        font-size: 1.5rem;
    }

}

@media (max-width: 768px) {
    .contacto {
        font-size: 3rem;
    }

    .subtittle {
        color: white;
        text-align: center;
        font-size: 2.5rem;
    }

    .logo {
        width: 90px;
        height: 90px;
    }

    .forms {
        font-size: 2rem;
        margin: auto;
    }

    .form1 {
        font-size: 1.5rem;
        margin: auto;
    }

    .space {
        font-size: 1.8rem;
        margin: auto;
        padding: 10px;
        gap: 20px;
    }

    .ofert {
        font-size: 1.8rem;
        margin: auto;
    }

    .footer {
        font-size: 1.8rem;
    }

}